<div class="container">
    <h1>Kühlschrank</h1>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Anzahl</th>
            <th>muss eingekauft werden</th>
            <th>Aktionen</th>
        </tr>
        <% @item.each do |item| %>
            <tr>
                <td><%= link_to item.item, item %></td>
                <td><%= item.count %></td>
                <td><% if item.rebuy %>
                        <span>Ja</span>
                    <% else %>
                        <spawn>Nein</spawn>
                    <% end %>
                </td>
                <td><%= link_to "Bearbeiten", item, method: :delete, class: "btn btn-warning" %> <%= link_to "Löschen", item, method: :delete,
              class: "btn btn-danger"%></td>
            </tr>
        <% end %>
    </table>
    <%= link_to "new item", {action: "new"} , class: "btn btn-success" %> <br> <br>
    <%= link_to "back to home", {controller: :welcome}, class: "btn btn-primary" %>
</div>