<div class="container">
    <h1>Liste nummer <%= @list.id %></h1>
    <p>
        Diese Liste ist zurzeit 
        <% if @list.active %>
            aktiv
        <% else %>
            inaktiv
        <% end %>
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Anzahl</th>
                <th>dringend</th>
                <th>Aktionen</th>
            </tr>
           <% @item.each do |item| %>
               <tr>
                   <td><%= link_to item.item, item %></td>
                   <td><%= item.count %></td>
                   <td><% if item.important %>
                           <span>Ja</span>
                       <% else %>
                           <spawn>Nein</spawn>
                       <% end %>
                   </td>
                   <td><%= link_to "Bearbeiten", item, method: :delete, class: "btn btn-warning" %> <%= link_to "Löschen", item, method: :delete,
                 class: "btn btn-danger"%></td>
               </tr>
           <% end %> 
        </table>
        <br> <br>
        <%= link_to "Neues Item" , new_list_item_path(list_id: @list), class: "btn btn-success" %>
        <br> <br>
        <%= link_to "Zurück zur Übersicht", shopping_lists_path, class: "btn btn-primary" %>
    </p>
</div>